body {
    background-color: cornflowerblue;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.card {
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.6rem;
}

.card-body {
    width: 100%;
}

form {
    font-family: inherit;
}

.form-select option {
    font-family: inherit;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.card-container {
    align-items: center;
    background-color: azure;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    margin: 20px;
    max-width: 90%;
    min-height: 100%;
    padding: 10px;
}

.btn {
    width: 100%;
}