/* body {
    background-color: cornflowerblue;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.card {
    margin-bottom: 10px;
    width: 100%;
}

.card-title {
    font-size: 1.6rem;
}

.card-body {
    width: 100%;
}

form {
    font-family: inherit;
}

.form-select option {
    font-family: inherit;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.card-container {
    align-items: center;
    background-color: azure;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100%;
    min-height: 100%;
    padding: 10px;
}

.btn {
    width: 100%;
} */


body {
    font-family: 'Merriweather', serif;
    background-color: #f4f4f4;
}

h1 {
    color: #0066cc;
    font-weight: 900;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.card-title {
    color: #0066cc;
    font-size: 1.5rem;
}

.btn-outline-dark {
    border-color: #0066cc;
    color: #0066cc;
}

.btn-outline-dark:hover {
    background-color: #0066cc;
    color: #ffffff;
}

.btn-primary {
    background-color: #0066cc;
    border-color: #0066cc;
    width: 100%;
}

.btn-danger {
    background-color: #cc3300;
    border-color: #cc3300;
    width: 50%;
}

.navbar {
    background-color: #0066cc;
}