body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: cornflowerblue;
    height: 100%
}



form {
    font-family: inherit;
}

option {
    font-family: 'Merriweather', serif;
}

.card-container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}